* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {

}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Roboto;
    font-size: var(--text-size);
    color: var(--black);
    font-weight: 400;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    position: relative;
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

