.advantages {
    margin-top: 31px;

    &__title {
        font-size: var(--title-lg);
        line-height: 151%;
        max-width: 819px;
        margin-bottom: 139px;
    }

    .row-items {
        margin-top: 139px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 23px;
        align-items: start;
    }

    &__items {
        gap: 24px;
        row-gap: 80px;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }

    &__item {

        width: calc(33.333% - 24px);
        display: flex;
        flex-direction: column;
    }

    &__item-img {
        width: 99.65%;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__item-title {
        display: flex;
        margin-top: 31px;
        font-size: var(--title-md);
        max-width: 216px;
    }

    &__item-text {
        margin-top: 31px;
        font-size: var(--title-sm);
    }
}

@media (max-width: 1024px) {
    .advantages {
        &__title {
            line-height: 151%;
            margin-bottom: 100px;
        }

        &__item {
            width: calc(50% - 9px);
        }

        &__items {
            row-gap: 24px;
            gap: 18px;
        }
    }
}

@media (max-width: 768px) {
    .advantages {

        &__title {
            margin-bottom: 30px;
        }

        &__item-title {
            margin-top: 15px;
            font-size: var(--text-md);
        }

        &__item-text {
            margin-top: 10px;
            font-size: var(--text-sm);
        }

    }
}

@media (max-width:420px){
    .advantages {
        &__item {
            width: 100%;
        }

        &__item-img {
            max-height: 210px;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}