.advantages {
    margin-top: 31px;

    &__title {
        font-size: var(--title-lg);
        line-height: 151%;
        width: 69.173%;
    }

    .row-items {
        margin-top: 139px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 23px;
        align-items: start;
    }

    &__items {
        gap: 24px;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }

    &__item {

        width: calc(33.333% - 24px);
        display: flex;
        flex-direction: column;
        height: auto;
    }

    &__item-img {
        width: 99.65%;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__item-title {
        display: flex;
        flex: 1 1 auto;
        height: 100%;
        margin-top: 31px;
        font-size: var(--title-md);
        width: 56.943%;
    }

    &__item-text {
        margin-top: 31px;
        font-size: var(--title-sm);
        width: 68.545%;
    }
}

@media (max-width: 1024px) {
    .advantages {
        &__title {
            width: 69.173%;
            line-height: 151%;
        }

        .row-items {
            margin-top: 60px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 18px;
        }
    }
}

@media (max-width: 768px) {
    .advantages {
        &__item-title {
            font-size: var(--text-md);
            width: 70.943%;
        }

        &__item-text {
            font-size: var(--text-sm);
        }

    }
}