.coop-term {
    margin-top: 102px;

    &__title {
        margin-bottom: 72px;
        line-height: 151%;
        font-size: var(--title-lg);
    }

    &__content {
        gap: 54px;
    }

    &__col {}

    &__col_left {
        width: 46.532%;
    }

    &__btn {
        margin-top: 52px;

        button {
            width: 73.407%;
            padding: 17px 0;
            background: #c31718;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: var(--title-lg);
            line-height: 151%;
            cursor: pointer;
            font-family: "Mazzard", sans-serif;
            font-weight: 300;
        }
    }

    &__text {
        font-size: var(--title-sm);
        margin: 0;
        padding: 0;
        line-height: 1.167;
    }

    &__col_right {
        width: auto;

        img {
            margin-top: 7px;
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 1049px) {
    .coop-term {
        &__content {
            flex-direction: column;
            gap: 24px;
        }

        &__col_left {
            width: 95%;
            margin: 0 auto;
            order: 0;
        }

        &__col_right {
            width: 100%;
            order: -1; // Перемещает col_right выше col_left
            margin-top: 0;

            .coop-term__img {
                margin: 0 auto;
                max-width: 320px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &__btn button {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .coop-term {
        margin-top: 48px;

        &__title {
            margin-bottom: 32px;
            font-size: var(--title-md);
        }

        &__text {
            font-size: var(--text-sm);
            line-height: 1.167;
        }

        &__btn {
            margin-top: 32px;
        }

        &__btn button {
            font-size: var(--title-sm);
            padding: 14px 0;
        }
    }
}